<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/facturation"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"></property>
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
	</bean>
	<import resource="classpath:jasper-views.xml" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"></property>
		<property name="persistenceUnitName" value="facture"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:annotation-config></context:annotation-config>

	<bean id="paysDAO" class="mg.uha.miage.dao.impl.PaysDAOImpl"></bean>
	<bean id="paysMetierInterf" class="mg.uha.miage.metier.impl.PaysMetierImpl">
		<property name="paysDAO" ref="paysDAO"></property>
	</bean>
	<bean id="villeDAO" class="mg.uha.miage.dao.impl.VilleDAOImpl">
	</bean>
	<bean id="villeMetierInterf" class="mg.uha.miage.metier.impl.VilleMetierImpl">
		<property name="villeDAO" ref="villeDAO"></property>
	</bean>

	<bean id="clientDAO" class="mg.uha.miage.dao.impl.ClientDAOImpl">
	</bean>
	<bean id="clientMetierInterf" class="mg.uha.miage.metier.impl.ClientMetierImpl">
		<property name="clientDAO" ref="clientDAO"></property>
	</bean>
	<bean id="societeDAO" class="mg.uha.miage.dao.impl.SocieteDAOImpl">
	</bean>
	<bean id="societeMetierInterf" class="mg.uha.miage.metier.impl.SocieteMetierImpl">
		<property name="societeDAO" ref="societeDAO"></property>
	</bean>
	<bean id="factureDAO" class="mg.uha.miage.dao.impl.FactureDAOImpl">
	</bean>
	<bean id="factureMetierInterf" class="mg.uha.miage.metier.impl.FactureMetierImpl">
		<property name="factureDAO" ref="factureDAO"></property>
	</bean>
	<bean id="payerDAO" class="mg.uha.miage.dao.impl.PayementDAOImpl">
	</bean>
	<bean id="payementMetierInterf" class="mg.uha.miage.metier.impl.PayementMetierImpl">
		<property name="payerDAO" ref="payerDAO"></property>
	</bean>

	<bean id="profilDAO" class="mg.uha.miage.dao.impl.ProfilDAOImpl">
	</bean>
	<bean id="profilMetierInterf" class="mg.uha.miage.metier.impl.ProfilMetierImpl">
		<property name="profilDAO" ref="profilDAO"></property>
	</bean>

	<bean id="utilisateurDAO" class="mg.uha.miage.dao.impl.UtilisateurDAOImpl">
	</bean>
	<bean id="utilisateurMetierInterf" class="mg.uha.miage.metier.impl.UtilisateurMetierImpl">
		<property name="utilisateurDAO" ref="utilisateurDAO"></property>
	</bean>

	<bean id="commandeDAO" class="mg.uha.miage.dao.impl.CommandeDAOImpl">
	</bean>
	<bean id="commandeMetierInterf" class="mg.uha.miage.metier.impl.CommandeMetierImpl">
		<property name="commandeDAO" ref="commandeDAO"></property>
	</bean>

	<bean id="deviseDAO" class="mg.uha.miage.dao.impl.DeviseDAOImpl">
	</bean>
	<bean id="deviseMetierInterf" class="mg.uha.miage.metier.impl.DeviseMetierImpl">
		<property name="deviseDAO" ref="deviseDAO"></property>
	</bean>

	<bean id="articleDAO" class="mg.uha.miage.dao.impl.ArticleDAOImpl">
	</bean>
	<bean id="articleMetierInterf" class="mg.uha.miage.metier.impl.ArticleMetierImpl">
		<property name="articleDAO" ref="articleDAO"></property>
	</bean>
	<bean id="categorieDAO" class="mg.uha.miage.dao.impl.CategorieDAOImpl">
	</bean>
	<bean id="categorieMetierInterf" class="mg.uha.miage.metier.impl.CategorieMetierImpl">
		<property name="categorieDAO" ref="categorieDAO"></property>
	</bean>
	<bean id="reductionDAO" class="mg.uha.miage.dao.impl.ReductionDAOImpl">
	</bean>
	<bean id="reductionMetierInterf" class="mg.uha.miage.metier.impl.ReductionMetierImpl">
		<property name="reductionDAO" ref="reductionDAO"></property>
	</bean>

	<bean id="achatDAO" class="mg.uha.miage.dao.impl.AchatDAOImpl">
	</bean>
	<bean id="achatMetierInterf" class="mg.uha.miage.metier.impl.AchatMetierImpl">
		<property name="achatDAO" ref="achatDAO"></property>
	</bean>

	<s:http>
		<s:intercept-url pattern="/Client/**" access="ROLE_ADMIN" />
		<s:intercept-url pattern="/Achat/**" access="ROLE_ADMIN" />
		<s:intercept-url pattern="/Facture/**" access="ROLE_ADMIN" />
		<s:intercept-url pattern="/Commande/**" access="ROLE_ADMIN" />
		<s:form-login login-page="/login" default-target-url="/"
			authentication-failure-url="/login" />
		<s:logout logout-success-url="/login" />
	</s:http>
	<s:authentication-manager>
		<s:authentication-provider>

			<s:jdbc-user-service data-source-ref="datasource"
				users-by-username-query="select 
				login, pwd, actived from utilisateur where login =?"
				authorities-by-username-query="select 
				u.login, r.profilelib from utilisateur u, profil r where u.profileId = r.profileid
				and u.login =? " />

		</s:authentication-provider>
	</s:authentication-manager>


</beans>